
/*
 * theme.css -- votre code css 
 */
 /*
 .navbar{
     justify-content:center;
 }
 */

 /*----------
  * commenter/décommenter le code suivant pour changer la couleur d'arriere plan.
  *  '!important' force le navigateur a utiliser cette couleur au lieu de celle de bootstrap 
  * .bg-info est défini dans bootstrap. on peut faire la même chose pour modifier une classe bootstrap
  */
 
 
 .bg-info{
    background-color:#dc8416 !important;
    /*background-color:#d0dded !important;*/
 }
 
  .img-fluid{ /* reduire taille images de carousel*/
    height: 200px !important;
  }
  